:root{
    --shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --blue: #0e7490;
    --light-gray: #e4e4e7;
    --light-red: #ff9c9c;

    font-family: "Roboto", sans-serif; 
    cursor: default;
}

body, html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    display: grid;
    grid-template: 1fr / repeat(5, 1fr);
}

/* Main */
.main-container{
    grid-column: 2/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--blue);
    background-color: var(--light-gray);
}

.card-container{
    width: 95%;
    height: 85%;
    border-radius: 15px;
    box-shadow: var(--shadow);
    background-color: white;
    border: 2px solid var(--blue);
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    overflow: auto;
    gap: 10px;
    padding: 10px;
}

.card{
    border-radius: 10px;
    box-shadow: var(--shadow);
    border: 1px solid var(--blue);
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.title{
    text-align: center;
    height: 20%;
}

.author, 
.page-number{
    display: flex;
    align-items: center;
    height: 30%;
    color: var(--blue);
}

.author{
    border-bottom: 1px solid var(--blue);
}

.author p, .page-number p{
    color: black;
}

.buttons{
    display: flex;
    align-items: stretch;
    gap: 10px;
    height: 20%;
    width: 100%;
}
.read-button{
    flex: 1;
    border: none;
    border-radius: 10px;
    background-color: var(--blue);
    color: white;
    font-size: 1.1rem;
}

.read-button:hover{
    background-color: #075267;
}

.delete-button{
    flex: 1;
    border: none;
    border-radius: 10px;
    background-color: var(--light-red);
    color: white;
    font-size: 1.1rem;
}

.delete-button:hover{
    background-color: #ff7b7b;
}

/* side bar */
.sidebar-container{
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    box-shadow: var(--shadow);
}

.logo-container{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 10px;
    color: white;
}

.logo-img{
    width: 55px;
}

.add-book-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.6rem;
    gap: 7px;
    height: 50px;
}

.add-book-button-container:hover{
    background-color: #4c90a2;
}

.add-book-img{
    width: 20px;
}

.add-book-container{
    width: 250px;
    height: 350px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    border: none;
    text-align: center;
}

.add-book-container::backdrop{
    background-color: rgba(0, 0, 0, 0.5);

}

.book-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.boolean-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
}

.input{
    height: 30px;
    border-radius: 5px;
    border: 2px solid var(--blue);
    font-size: 1.2rem;
}

.checkbox{
    width: 20px;
    height: 20px;
}

.submit-button{
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--blue);
    color: white;
    font-size: 1.2rem;
}

.submit-button:hover{
    background-color: #075267;
}